# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
npm-debug.log

# Mac
.DS_Store

dist/

# We ignore build/ because it generates temp files
# BUT if you love a specific icon you made, you can force add it later.
build/

# Certificates (Generally good practice not to commit these, 
# but for a local app it's up to you. Safest to ignore.)
cert.pem
key.pem